{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock%}

{% block content %}
<p></p>

<h2 lass="mt-2">HUA DevOps semester assignment project</h2>
<hr class="mt-0 mb-4">
<p>This application is part of a semester project assigment for the course of DevOps, of the 6th semester 2023, of
    Harokopio University of Athens.</p>
<h4>Team 8</h4>
<hr class="mt-0 mb-4">
<ul>
    <li>Michael Kinnas - it22046</li>
    <li>Andreas Karathanasis - it22039</li>
</ul>

<h3>Project repositories</h3>
<hr class="mt-0 mb-4">
<a href="https://github.com/michaelkinnas/DEVOPS-Project">Github - Project repository</a><br>
<a href="https://github.com/michaelkinnas/HUA-DIT-DevOps-WebApp-Issue-Tracker">Github - Issue tracker wev app</a><br>
<a href="https://hub.docker.com/repository/docker/michaelkinnas/issuetracker/general">Dockerhub - Issue tracker wev app
    docker image</a><br>



{% endblock %}