{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock%}

{% block content %}
<h2 class="mt-2">Create new issue</h2>
<hr class="mt-0 mb-4">

<p><a href="/issues/{{project_id}}"
        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Go back to project
        issues</a></p>

<div class="mb-3">
    <form action="/create_issue/{{project_id}}" method="post">
        {% csrf_token %}
        {{form}}
        <p></p>
        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
</div>

{% endblock %}