{% extends 'main/base.html' %}

{% block title %} Issue #{{issue.id}} {% endblock %}

{% block content %}
<p></p>
<p>
    <a href="/issues/{{issue.project.id}}">Go back to project issues</a>
</p>

<h3>Issue #{{issue.id}}</h3>
<div class="card">
    <div class="card-header">
        <b>{{issue.get_type_display}}</b>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{issue.title}}</h5>

        <p class="card-text">{{issue.description}}</p>
        <hr>
        </hr>
        <div class="text-center">
            {%if issue.status == 'P'%}
            <h3 style="color:rgb(255, 157, 0);"><b>{{issue.get_status_display}}</b></h3>
            {%elif issue.status == 'I'%}
            <h3 style="color:rgb(13, 125, 0);"><b>{{issue.get_status_display}}</b></h3>
            {%else%}
            <h3 style="color:rgb(129, 129, 129);"><b>{{issue.get_status_display}}</b></h3>
            {% endif %}
        </div>
        <form method="POST" action="/issue/{{issue.id}}">
            {% csrf_token %}
            <div class="text-center">
                <div class="col-auto">
                    <select class="form-select" , aria-label="Default select example" , name="status">
                        <option selected>Change Status</option>
                        <option value="P">Pending</option>
                        <option value="I">In Progress</option>
                        <option value="C">Completed</option>
                    </select>
                    <select class="form-select" , aria-label="Default select example" , name="assign_to">
                        <option selected>Assign to</option>
                        <option value="1">Dev1</option>
                        <option value="2">Dev2</option>
                        <option value="3">Dev3</option>
                    </select>

                    <button type="submit" class="btn btn-primary mb-3" name="save" value="save">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card-footer text-muted">
    Opened on {{issue.date_created}} by <b>{{issue.created_by}}</b>
</div>
</div>
{% endblock %}