{% extends 'main/base.html' %}

{% block title %} Projects {% endblock %}

{% block content %}
<h2 class="mt-2">Projects</h2>
<hr class="mt-0 mb-4">
<div style="display: flex; justify-content: space-between; margin-bottom: 10px">
    <span></span>
    <a class="btn btn-success" href="/create_project/" role="button">Create new project</a>
</div>

<div style=" display: flex;">
    {% for project in projects %}
    <div class="card" style="width: 18rem; margin-right: 10px;">
        <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.description}}</p>
            <a class="btn btn-primary" href="issues/{{project.id}}" role="button">Issues</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}